header {
  /* height: 105vh; */
  padding-top: 7rem;
  overflow: hidden;
}

.hello {
  color: var(--color-black);
}

.container h5 {
  font-size: 1rem;
}

.container h1 {
  color: var(--color-black);
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}
/* ------------------- CTA ------------------- */
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* -------------------  HEADER SOCIALS ------------------- */
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header__socials::after {
  content: "";
  width: 2px;
  height: 4rem;
  background: var(--color-bg-variant);
}

/* -------------------  ME ------------------- */
.me {
  /* background: linear-gradient(var(--color-bg-variant), transparent); */
  /* width: 22rem; */
  /* height: 30rem; */
  width: 400px;
  height: 400px;
  /* position: absolute; */
  /* left: calc(50% - 10rem); */
  /* margin: auto; */
  /* margin-top: 4rem; */
  /* border-radius: 12rem 12rem 0 0; */
  /* overflow: hidden; */
  /* padding: 5rem 1.5rem 1.5rem 1.5rem; */
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.me img {
  width: 100%;
  border-radius: 50%;
}

.btn1 {
  width: max-content;
  display: inline-block;
  color: var(--color-bg-variant);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1.8px solid var(--color-bg-variant);
  transition: var(--transition);
}

.btn1:hover {
  background-color: grey;
}

/* ------------ MEDIA QUERIES (MEDIUM DEVICES) ------------- */
@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
}

/* ------------ MEDIA QUERIES (SMALL DEVICES) ------------- */
@media screen and (max-width: 600px) {
  header {
    height: 120vh;
  }

  .header__socials,
  .scroll__down {
    display: none;
  }
}
